@using NSchicht.Core.Konkret
@model List<BenutzerNachricht>
<div class="col-md-6 col-xl-4 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex flex-row justify-content-between">
                      <h4 class="card-title">Nachrichten</h4>
                      <p class="text-muted mb-1 small">Zeig alle Nachrichten</p>
                    </div>
                    @foreach (var item in Model)
                   {
                    <div class="preview-list">
                      <div class="preview-item border-bottom">
                        <div class="preview-thumbnail">
                          <img src="@item.Benutzers.BildUrl" alt="image" class="rounded-circle" />
                        </div>
                        <div class="preview-item-content d-flex flex-grow">
                          <div class="flex-grow">
                            <div class="d-flex d-md-block d-xl-flex justify-content-between">
                              <h6 class="preview-subject">@item.Benutzers.Name</h6>
                              <p class="text-muted text-small">@item.Datum</p>
                            </div>
                            <p class="text-muted">@item.Inhalt.Substring(0,30).</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    }
                  </div>
                </div>
              </div>