@model Asp.NET.Core5Projekt.Areas.Benutzer.Models.BenutzerBearbeitenZeigModell
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_BenutzerLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Profilinformationen bearbeiten</h4>
                  <form class="forms-sample" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                      <label for="exampleInputName1">Name</label>
                      <input type="text" asp-for="Name"  class="form-control" id="exampleInputName1" placeholder="Name">
                    </div>
                     <div class="form-group">
                      <label for="exampleInputName1">Nachname</label>
                      <input type="text" asp-for="NachName" class="form-control" id="exampleInputName1" placeholder="Nachname">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword4">Passwort</label>
                      <input type="password" asp-for="Passwort" class="form-control" id="exampleInputName1" placeholder="Passwort">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword4">Konfirmieren Passwort</label>
                      <input type="password" asp-for="KonfirmierePasswort" class="form-control" id="exampleInputName1" placeholder="Konfirmieren Passwort">
                    </div> 
                    <div class="form-group">
                      <label>Datei-Upload</label>
                      <input type="file" asp-for="Bild" >
                      @*<div class="input-group col-xs-12">
                        <input type="text" class="form-control file-upload-info" disabled placeholder="Datei Upload">
                        <span class="input-group-append">
                          <button class="file-upload-browse btn btn-outline-primary" type="button">Hochladen</button>
                        </span>
                      </div>*@
                    </div>
                    <button type="submit" class="btn btn-outline-primary mr-2">Aktualisieren</button>
                    <button class="btn btn-light">Abbrechen</button>
                  </form>
                </div>
              </div>
            </div>