@using NSchicht.Core.Konkret
@model List<Dienst>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NeuerAdministratorLayout.cshtml";
}
<div class="row">

              <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Dienste</h4>
                    <div class="table-responsive">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th> # </th>
                            <th> Title </th>
                            <th> Löschen </th>
                            <th> Bearbeiten </th>
                          </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                           {
                          <tr>
                            <td> @item.DienstID </td>
                            <td> @item.Title </td>
                            <td><a href="/Dienst/LöschenDienst/@item.DienstID" class ="btn btn-outline-danger">Löschen</a></td>
                            <td><a href="/Dienst/BearbeitenDienst/@item.DienstID" class ="btn btn-outline-success">Bearbeiten</a></td>
                          </tr>                            
                           }
                        </tbody>
                      </table>
                       <a href="/Dienst/InsertDienst/" class="btn btn-outline-primary"> Neues Dienst Hinzufügen</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
@*<div class="card-header border-0">
              <h3 class="mb-0">Tabelle der Dienstsliste</h3>
            </div>
            <!-- Light table -->
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col" class="sort" data-sort="name">#</th>
                    <th scope="col" class="sort" data-sort="budget">Title</th>
                    <th scope="col">Löschen</th>
                    <th scope="col" class="sort" data-sort="completion">Bearbeiten</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody class="list">
                    @foreach (var item in Model)
                   {
                    <tr>
                    <th> 
                        @item.DienstID
                    </th>
                    <th class="budget">
                      @item.Title
                    </th> 
                    <td><a href="/Dienst/LöschenDienst/@item.DienstID" class ="btn btn-danger">Löschen</a></td>
                    <td><a href="/Dienst/BearbeitenDienst/@item.DienstID" class ="btn btn-success">Bearbeiten</a></td>
                  </tr>
                   }  
                </tbody>
              </table>
              <a href="/Dienst/InsertDienst/" class="btn btn-primary"> Neue Dienst Hinzufügen</a>
            </div>*@


