@using NSchicht.Core.Konkret
@model List<Referenz>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NeuerAdministratorLayout.cshtml";
}

<div class="row ">
              <div class="col-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Referenze</h4>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>
                              <div class="form-check form-check-muted m-0">
                                <label class="form-check-label">
                                  <input type="checkbox" class="form-check-input">
                                </label>
                              </div>
                            </th>
                                
                                <th> Client Name </th>
                                <th> Unternehmen </th>
                                <th> Title </th>
                                <th> Löschen </th>
                                <th> Details </th>
                          </tr>
                        </thead>
                        <tbody>
                      @foreach (var item in Model)
                            {
                                <tr>

                                    <td>
                                        <img src="@item.BildUrl" alt="image" />
                                    </td>
                                    <td> @item.ClientName </td>
                                    <td> @item.Unternehmen </td>
                                    <td> @item.Title </td>
                                    <td> <a href="/Referenz/LöschenReferenz/@item.ReferenzID" class="btn btn-outline-danger">Löschen</a> </td>
                                    <td> <a href="/Referenz/BearbeitenReferenz/@item.ReferenzID" class="btn btn-outline-success">Details</a> </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <a href="/Referenz/InsertReferenz/" class="btn btn-outline-primary">Neue Referenz Hinzufügen</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
