<div class="navbar-inner">
    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Nav items -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="dashboard.html">
                    <i class="ni ni-tv-2 text-primary"></i>
                    <span class="nav-link-text">Dashboard</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="icons.html">
                    <i class="ni ni-planet text-orange"></i>
                    <span class="nav-link-text">Wichtige Punkte</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/Faehigkeit/Index/">
                    <i class="ni ni-pin-3 text-primary"></i>
                    <span class="nav-link-text">Fähigkeiten</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="profile.html">
                    <i class="ni ni-single-02 text-yellow"></i>
                    <span class="nav-link-text">Über</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="tables.html">
                    <i class="ni ni-bullet-list-67 text-default"></i>
                    <span class="nav-link-text">Dienste</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="login.html">
                    <i class="ni ni-key-25 text-info"></i>
                    <span class="nav-link-text">Aktenmappen</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="register.html">
                    <i class="ni ni-circle-08 text-pink"></i>
                    <span class="nav-link-text">Erfahrungen</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="upgrade.html">
                    <i class="ni ni-send text-dark"></i>
                    <span class="nav-link-text">Kundenbewertungen</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="upgrade.html">
                    <i class="ni ni-send text-dark"></i>
                    <span class="nav-link-text">Kontakte</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="upgrade.html">
                    <i class="ni ni-send text-dark"></i>
                    <span class="nav-link-text">Nachrichten</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="upgrade.html">
                    <i class="ni ni-send text-dark"></i>
                    <span class="nav-link-text">Einstellungen</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="upgrade.html">
                    <i class="ni ni-send text-dark"></i>
                    <span class="nav-link-text">Statistiken</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="upgrade.html">
                    <i class="ni ni-send text-dark"></i>
                    <span class="nav-link-text">Ausloggen</span>
                </a>
            </li>
        </ul>
    </div>
</div>