@using NSchicht.Core.Konkret
@model List<Erfahrung>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NeuerAdministratorLayout.cshtml";
}

<div class="row">

              <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Erfahrungen</h4>
                    <div class="table-responsive">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th> # </th>
                            <th> Name </th>
                            <th> Datum </th>
                            <th> Löschen </th>
                            <th> Bearbeiten </th>
                          </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                           {
                          <tr>
                            <td> @item.ErfahrungID </td>
                            <td> @item.Name </td>
                            <td> @(((DateTime)item.Datum).ToString("D")) </td>
                            <td><a href="/Erfahrung/LöschenErfahrung/@item.ErfahrungID" class ="btn btn-outline-danger">Löschen</a></td>
                            <td><a href="/Erfahrung/BearbeitenErfahrung/@item.ErfahrungID" class ="btn btn-outline-success">Bearbeiten</a></td>
                          </tr>                            
                           }
                        </tbody>
                      </table>
                      <br />
                       <a href="/Erfahrung/InsertErfahrung/" class="btn btn-outline-primary"> Neue Erfahrung Hinzufügen</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
